services:
  ollama:
    image: ollama/ollama:latest
    container_name: hire_me_ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
    volumes:
      - ollama_data:/root/.ollama
      - ./ollama_init.sh:/ollama_init.sh:ro
    entrypoint: sh /ollama_init.sh
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  app:
    build: .
    container_name: hire_me_chatbot
    depends_on:
      - ollama
    ports:
      - "8501:8501"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    volumes:
      - ./vector_db:/app/vector_db
    restart: unless-stopped

volumes:
  ollama_data:

networks:
  my_network:
    driver: bridge